@keyframes fadein{
    0%{opacity: 0;}
    100% {opacity: 1;}
}

a:link{
    text-decoration: none;
    color: #fed600;
}

a:visited{
    text-decoration: none;
    color: #fed600;
}

#top {
    width: 100%;
    height: 75px;
    padding: 5px;
    background-color: rgb(112, 16, 16);
    display: flex;
    Font-Family: 'Roboto Condensed', Sans-Serif;
}
body{
    background-color: rgb(4, 8, 51);
}

button {
    height: 31.5vh;
    font-size: 2rem;
    background-color: rgb(4, 8, 51);
    color: gold;
    width: 300px;
}

#tedlasso{
    width: 97%;
    height: 76%;
}

h1{
    color: white;
    text-align: center;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 35px;
}
    

h2{
    color: white;
    text-align:left;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 35px;
    text-decoration: underline;
    text-align: center;
}

#welcometitle {
    color: gold;
    text-align: center;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    font-size: 42px;
    font-weight: bold;
    margin-left: 2%;
}

#richmondbadge {
    width: 101px;
    padding-right: 10px;
    padding-top: 6px;
    margin-right: 7%;
}

#logo {
    text-align: left;
    color: white;
    margin-left: 6.4%;
}
#banner{
    display: block;
    margin-right: auto;
    width: 50%;
    margin-left: 18%;
}

nav{
    text-align: center;
    flex-grow: 1;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid rgb(4, 8, 51);
    color: gold;
    font-size: 25px;
    position: relative;
    margin-right: 60px;
    border-radius: 20px;
}

.slider {
    width: 720px;
    height: 376px;
    background: url(images/trailer1.webp);
    margin-left: 215px;
    animation: slide 20s infinite;
    border-radius: 20px;
}

@keyframes slide{
25%{
    background:url(images/trailer1.webp)
}
50%{
    background:url(images/trailer2.webp)
}
75%{
    background:url(images/trailer3.webp)
}
100%{
    background:url(images/trailer4.webp)
}
}

#themesong {
    margin-left: 70px;
    padding-top: 1%;
    opacity: 0.5;
}

article {
    width: 63%;
    height: 546px;
    padding: 5px;
    border: 2px solid gold;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(121, 9, 9);
    margin-left: 19%;
}

article p {
    float: left;
    width: 100%;
    font-size: 18px;
    color: white;
    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: 20px;
}

article img{
    width: 250px;
    float: right;
    
}

#asideleft {
    background-color: rgb(121, 9, 9);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    gap: 2rem;
    width: 120%;
    height: 955px;
    margin-left: 50px;
}

#asideright {
    background-color: rgb(121, 9, 9);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    gap: 2rem;
    width: 120%;
    height: 955px;
    margin-right: 50px;
}

    footer {
        clear: both;
        height: 70px;
        padding: 5px;
        background-color: rgb(112, 16, 16);
        text-align: center;
}

footer img{
    width: 50px;
}

footer ul{
    padding-left: 0px;
}
footer ul li{
    display: inline-block;
    padding: 0px 5px;
}

#mainFlex{
    display: flex;
}

.bannerImg{
    width: 120%;
}

.fadein{
    animation: fadein 3s;
}
