@keyframes fadein{
    0%{opacity: 0;}
    100% {opacity: 1;}
}

.fadein{
    animation: fadein 3s;
}


#top{
    width: 100%;
    height: 75px;
    padding: 5px;
    background-color: rgb(4, 8, 51);
    display:flex;
    Font-Family: 'Roboto Condensed', Sans-Serif;
}

body{
    background-color: rgb(4, 8, 51);   
}


#aboutimages{
    width: 27.5%;  
}

#tedlasso{
    width: 97%;
    height: 76%;
}

h1{
    color: white;
    text-align: center;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 35px;
}

h2{
    color: white;
    text-align:left;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 35px;
    text-decoration: underline;
    text-align: center;
}


#richmondbadge {
    width: 75px;
    padding-right: 10px;
    padding-top: 6px;
}

#logo{
    text-align:left;
    color:aliceblue;
    margin-left:25px;
}

nav{
    text-align: center;
    flex-grow: 1;
}

nav ul li{
    list-style-type:none;
    display:inline-block;
    padding: 5px 10px;
    border: 2px solid rgb(112, 16, 16);
    color:aliceblue;
    font-size:25px;
    border-radius: 10px;
    position:relative;
    margin-right: 95px;
}

#Geolist{
    color: white;
    text-align: left;
    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: 23px;
}

a:visited{
    text-decoration: none;
    color: #fed600;
}

a:link{
    text-decoration: none;
}

aside{
    background-color: rgb(121, 9, 9);
    border: 2px solid gold;
    border-radius:10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    gap: 2rem;
    width: 98%;
    padding: 10px;
}
aside p{
    color: rgb(233, 229, 229);
    font-size: 24px;
    Font-Family: 'Cabin', Sans-Serif;
    line-height: 36px;

}

#trailers {
    width: 29%;
}

.box {
    background-color: rgb(121, 9, 9);
    width: 396px;
    height: 25rem;
    border: 2px solid gold;
    display: inline-block;
    margin: 15px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Cabin', Sans-Serif;
}


footer{
    clear: both;
    height: 70px;
    padding: 5px;
    background-color: rgb(4, 8, 51);
    text-align: center;
}

footer img{
    width: 50px;
}

footer ul{
    padding-left: 0px;
}
footer ul li{
    display: inline-block;
    padding: 0px 5px;
}

#mainFlex{
    display: flex;
}

.fadein{
    animation: fadein 3s;
}