@keyframes fadein {

    /*Using a keyframe here to give my poster image a fade in effect, styling it with opacity of 0%, to 100% when it loads in
     this relates to my .fadein animation of 3 seconds*/
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    /* Using a universal selector to add more strucutre to my homepage.*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.fadein {
    /*Using a class here to style my poster, this relates to my keyframe, as i'm giving my poster a fadein animation of 3 seconds, it consider the keyframe fadein
    animation as well, giving it a more smoother and real effect*/
    animation: fadein 3s;
}

#top {
    /*Using an ID here to style the top of my homepage, using structure style elements to aid the navigation bar, header and logo. Primarly adding a flex to my homepage aided in my layout overall. */
    width: 100%;
    height: 75px;
    padding: 5px;
    background-color: rgb(112, 16, 16);
    display: flex;
    Font-Family: 'Roboto Condensed', Sans-Serif;
}

body {
    /*Using a body style tag here, this enabled me to add colour to my background, and set the width and height to an appropriate scale*/
    background-color: rgb(4, 8, 51);
    width: 100%;
    height: 100vh;
}

/*Giving my aboutimages an ID, with style elements aiding strucutre for the images */
#aboutimages {
    width: 20%;
    padding-left: 36px;
    border-radius: 132px;
}

/*Giving my iframe a height style effect */
#map {
    height: 20px;
}

/*Giving my general h1 tag style effects, aiding the theme of my website and staying consistent*/
h1 {
    color: white;
    text-align: center;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 35px;
}

/*Giving my general h2 tag style effects, aiding the theme of my website and staying consistent*/
h2 {
    color: white;
    text-align: left;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 35px;
    text-decoration: underline;
    text-align: center;
}

/*Giving my richmondbadge an ID, to aid in style effects, aiding the theme of my website and staying consistent*/
#richmondbadge {
    width: 146px;
    height: 149%;
    padding-right: 10px;
    padding-top: 0px;
    margin-right: 5%;
    padding-bottom: 16px;
}

/*Giving my logo an ID, to aid in style effects, aiding the theme of my website and staying consistent*/
#logo {
    text-align: left;
    color: white;
    margin-left: 118px;
    flex-direction: column-reverse;
    padding-top: 3px;
    font-size: 3em;
}

/*Giving my nav bar style elements to make my navigation bar sit at the top of the screen accordingly*/
nav {
    text-align: center;
    flex-grow: 1;
    padding: 11px;
}

/*Giving my nav bar an unordered list style elements, this aided in my navigation headers, using structure and colour to suit the theme of my website*/

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid rgb(4, 8, 51);
    color: gold;
    font-size: 25px;
    border-radius: 10px;
    position: relative;
    margin-right: 60px;
    padding-top: 0px;
}

/*Giving my nav unordered list a hover effect, so whenever the user hovers over a header, it will turn dark blue*/

nav ul li:hover {
    background-color: rgb(4, 8, 51);

}

/*Giving my p tag a class, aiding in its style and layout attributes*/
.p {
    color: white;
    text-align: left;
    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: 23px;
}

/*Giving my list an ID, this will aid in its style and layout attributes, relating to its colour and font styling */
#Geolist {
    color: white;
    text-align: left;
    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: 23px;
}

/*Giving my links visted no text decoration, and a colour of yellow */
a:visited {
    text-decoration: none;
    color: #fed600;
}

/*Giving my links no text decoration, and a colour of yellow */
a:link {
    text-decoration: none;
    color: #fed600;
}

/*Giving my aside structural attributes, these consist of colours, layout and a display flex within a flex direction of row */
aside {
    background-color: rgb(121, 9, 9);
    border: 2px solid gold;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    gap: 2rem;
    width: 98%;
    padding: 10px;
    margin-right: 83px;
}

/*Giving my aside a hover effect, so whenever a user hovers over, the border will change white, giving a sense of accessibility*/
aside:hover {
    border-color: white;
}

/*Giving my asidetrailers an ID. I have used this ID to give my trailers structural effects, as well as colour. Also, I have used a display flex here, with
a flex-direction which flips the content in my aside, that is why I have used two different aside styling techniques to fix this issue*/
#asidetrailers {
    background-color: rgb(121, 9, 9);
    border: 2px solid gold;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: space-between;
    gap: 2rem;
    width: 98%;
    padding: 10px;
}

/*Giving an effect to my asidetrailers, so whenever a user hovers over my aside, the border will change white, aiding the accessibility of my webpage*/
#asidetrailers:hover {
    border-color: white;
}

/*giving my aside p tags styling attributes, these consist of colour and layout effects */

aside p {
    color: rgb(233, 229, 229);
    font-size: 24px;
    Font-Family: 'Cabin', Sans-Serif;
    line-height: 36px;

}

#trailers {
    /*Giving my trailers a set width that I thought was acceptable*/
    width: 27%;
}



/*Using a footer here to display it at the bottom of my page, using strucutre elements and colour*/
footer {
    clear: both;
    height: 70px;
    padding: 5px;
    background-color: rgb(121, 9, 9);
    text-align: center;
}

/*Using footer images to set a width for my icons in the footer*/
footer img {
    width: 50px;
}

/*Using a footer unordered list attribute to customise the padding-left element*/
footer ul {
    padding-left: 0px;
}

/*Using a footer unordered list, using strucutre elements to aid in the display of my footer's ul li*/
footer ul li {
    display: inline-block;
    padding: 3px 23px;
}

/*Giving my mainflex a element of display flex*/
#mainFlex {
    display: flex;
}